<div class="cont__body_header">
  <span id="nameOpcion">Pendientes en enviar</span>
</div>
<div id="float" class="flotar">
  <div class="cont__body_header">
      <span id="titulo-Expediente"></span>
      <button onclick="cerrarFloat()"></button>       
  </div>
  <section id="contenido" >
      
  </section>
</div>
<div class="cont__body_cont">
  <!--div class="div-table"-->
    <table id="tableR" class="tableInform" style="width:100%">
        <thead>
            <tr>
                
                <th>FOLIO</th>
                <th>TIPO DOCUMENTO</th>
                <th>ASUNTO</th>
                <th>ORIGEN</th>
                <th>DESTINO</th>
                <th>FECHA</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
  <!--/div-->
</div>
<div id="miModal" class="modal">
  <div class="modal-contenido">
    <div class="cerrar">
      <div style="display:none;" id="div-download" class="div-download"></div>
      <a class="div-cerrar" href="#"><img src="src/images/svg/cerrar.svg" width="30px" /></a>  
    </div>
    <iframe id="iframe" src="pdf/index.php" style="width:100%; height:100%;" frameborder="0"></iframe>
  </div>
</div>  

<div id="modalCC" class="modal">
  <div class="modal-CC">
      <div class="cerrar">
      <p>Agregar copia para</p><a class="div-cerrar" href="#"><img src="src/images/svg/cerrar.svg" width="30px" /></a>
      </div>
      <article class="formExpediente  flex col start">
              <label>Centro de costos</label>
              <select id="selectCCcopia">
              </select>
              <button class="botonCC" id="btn_expediente" class="enviarExpediente" onclick="sendExpediente()">Agregar</button>
      </article>
  </div>
</div> 
<div id="modalCopia" class="modal">
  <div class="modal-Copia">
    <div class="cerrar"><a class="div-cerrar" href="#"><img src="src/images/svg/cerrar.svg" width="30px" /></a>
    </div>
      <div id="select_copia" class="select_copia">
          <select>
              <option> --- NULL ---</option>
          </select>
      </div>
      <div id="div-lista" class="div-lista">
      </div>
    </div>
</div> 