<div class="cont__body_header">
    Administrar
    <button type="submit" id="btn_submit_document" onclick="AgregarEditor()" class=" center-div"> Agregar editor <!--img src="src/images/svg/nuevo_exp.svg" width="20px"/--></button>
     
</div>
<div class="cont__body_cont">
    <table id="tableR" class="display tableInform" style="width:100%">
        <thead>
            <tr>
                <th>NÚMERO EMPLEADO</th>
                <th>NOMBRE COMPLETO</th>
                <th>ROL</th>
                <th></th>
            </tr>
        </thead>
    </table> 
</div>

<div id="float" class="flotar">
    <div class="cont__body_header">
        <span id="titulo-Expediente"></span>
        <button onclick="cerrarFloat()"></button>       
    </div>
    <section id="contenido" >
        <table id="tableEditor" class="display tableInform" style="width:100%">
            <thead>
                <tr>
                    <th>NÚMERO EMPLEADO</th>
                    <th>NOMBRE COMPLETO</th>
                    <th></tr>
                </tr>
            </thead>
        </table> 
    </section>
</div>

