    <div id="oficio_div" class="oficio">
        <header>
            Nuevo documento <span id="idExpedientes"></span>
            <div id="select_div" >
                <select><option> --- NULL ---</option></select><img src="src/images/svg/lupa_select.svg"/>
            </div>
        </header>
        <section class="destino">
            <input id="nameDir" type="text" class="nameDir" placeholder="Nombre" disabled/>
        </section>
            <input id="puestodes" type="text" class="folio" placeholder="puesto" style="display: none"/>
            <input id="puestodesI" type="text" class="folio" placeholder="puestoI" style="display: none"/>
        <input id="asunto" type="text" class="asunto" placeholder="Asunto"/>
        <select id="tipoDoc">
            <option value="1">Oficio</option> 
            <option value="2">Memorandom</option> 
        </select>
        <div class="atencionA">
            <textarea id="atencionA" placeholder="Atencio a ..."></textarea>
        </div>
        <div class="mensaje">
            <textarea id="mensaje" placeholder="Esccribe aquí el mensaje..."></textarea>  
        </div>
        <p id="listaCopiaCC" style="display: none"></p>
        <div class="botones">
            <button type="submit" onclick="crearDocumento()" id="btn_crear_document" class="enviar center-div">Crear <img src="src/images/svg/crear.svg"/></button>
            <button type="submit" onclick="actualizarDocumento()" id="btn_edit_document" class="enviar center-div">Actualizar <img src="src/images/svg/crear.svg"/></button>
            <button class="limpiar center-div" onclick="textClean()">Limpiar <img src="src/images/svg/limpiarDatos.svg"/></button>
            <button class="atencion center-div" onclick="copia()">Agregar con copia</button>
        </div>
    </div>
    <div id="modalUpload" class="modalW">
        <div class="modal-Upload">
            <div class="cerrar"><a class="div-cerrar" href="#"><img src="src/images/svg/cerrar.svg" width="30px" /></a>
            </div>
                <h2 class="h2Adjuntar">Adjuntar archivo</h2>
                <form class="upload" id="form" name="form">
                    <input type="text" id="username" name="username" style="display:none" placeholder="Nombre de usuario">
                    <div id="preview" class="preview punteado">
                    </div>
                    <input type="file" name="image" id="file"/>
                    <button id="btnCargar" name="btnCargar">Cargar</button>
                    <button id="btnSiguiente" name="btnSiguiente" class="btnSiguiente" onclick="siguiente()">Siguiente</button>
                </form>
          </div>
    </div> 
