<div class="cont__body_header">
    <span id="nameOpcion" class="">Expedientes</span>
    <button type="submit" id="btn_submit_document" onclick="nuevo_Expediente()" class=" center-div"> Nuevo Expediente <img src="src/images/svg/nuevo_exp.svg" width="20px"/></button>
            
</div>

<div id="float" class="flotar">
    <div class="cont__body_header">
        <span id="titulo-Expediente"></span>
        <button onclick="cerrarFloat()"></button>       
    </div>
    <section id="contenido" >
        
    </section>
</div>
<div class="cont__body_cont">
    <table id="tableR" class="display tableInform" style="width:100%">
        <thead>
            <tr>
                <th>SECCIÓN</th>
                <th>SERIE DOCUMENTAL</th>
                <th>TÍTULO EXPEDIENTE</th>
                <th>FECHA APERTURA</th>
                <th>FECHA CONCLUSIÓN</th>
                <th></th>
            </tr>
        </thead>
    </table> 
</div>

<!--div id="modalCrearExpediente" class="modal">
    <div class="modal-Expediente">
        <div class="cerrar">
            <p class="titulo-modal">Expediente</p><a class="div-cerrar" href="#"><img class="img" src="src/images/svg/cerrar.svg" width="30px" /></a>
        </div>
        <article class="formExpediente  flex col start">
                <label>Sección</label>
                <select id="selectSeccion">
                </select>
                <label>Serie documental</label>
                <select id="serieArchivistica">
                    <option disabled selected value> -- Selecciona una sección -- </option>
                </select>
                <label>Título expediente</label>
                <input id="titulo" class="input_text" type="text"/>
            
                <label>Resumen</label>
                <input id="resumen" class="input_text" type="text"/>
                <label>Observaciones</label>
                <input id="observaciones" class="input_text" type="text"/>
                <label>Tipo expediente</label>
                <div class="container">
                    <ul>
                        <li>
                            <input type="radio" id="E" name="selector" value="Electronico">
                            <label for="E">Electrónico</label>
                            <div class="check"></div>
                        </li>
                        
                        <li>
                            <input type="radio" id="F" name="selector" value="Fisico">
                            <label for="F">Físico</label>
                            <div class="check"><div class="inside"></div></div>
                        </li>
                        <li>
                            <input type="radio" id="H" name="selector" value="Hibrido">
                            <label for="H">Híbrido</label>
                            <div class="check"><div class="inside"></div></div>
                        </li>
                    </ul>
                </div>
                <label>Ubicación topográfica</label>
                <input id="ubicacion" disabled class="input_text" id="ubicacion" type="text"/>
                <button id="btn_expedienteCrear" class="enviarExpediente" onclick="crearExpediente()">Agregar</button>
                <button id="btn_expedienteEditar" class="enviarExpediente" onclick="editExpediente()">Actualizar</button>
        </article>
    </div>
</div-->  
<div id="Expediente" class="modal">
    <div class="mExpediente">
        <div class="cerrar">
            <p class="titulo-modal">Expediente</p><a class="div-cerrar" href="#"><img class="img" src="src/images/svg/cerrar.svg" width="30px" /></a>
        </div>
        <article>
            <select id="selectSeccion">
            </select>
            <select id="serieArchivistica">
                <option disabled selected value> -- Serie Archivistica -- </option>
            </select>
            <div class="grid">
                <input id="titulo" class="input_text" type="text" placeholder="Título expediente"/>
                <input id="resumen" class="input_text" type="text" placeholder="Resumen"/>
            </div>
            
            <input id="observaciones" class="input_text" type="text" placeholder="Observaciones"/>
                
                <br><label>Tipo expediente</label>
                <div class="container">
                    <ul>
                        <li>
                            <input type="radio" id="E" name="selector" value="Electronico">
                            <label for="E">Electrónico</label>
                            <div class="check"></div>
                        </li>
                        
                        <li>
                            <input type="radio" id="F" name="selector" value="Fisico">
                            <label for="F">Físico</label>
                            <div class="check"><div class="inside"></div></div>
                        </li>
                        <li>
                            <input type="radio" id="H" name="selector" value="Hibrido">
                            <label for="H">Híbrido</label>
                            <div class="check"><div class="inside"></div></div>
                        </li>
                    </ul>
                </div>
                <input id="ubicacion" disabled class="input_text" type="text" placeholder="Ubicación topográfica"/>
                <button id="btn_expedienteCrear" class="enviarExpediente" onclick="crearExpediente()">Agregar</button>
                <button id="btn_expedienteEditar" class="enviarExpediente" onclick="editExpediente()">Actualizar</button>
        </article>
    </div>
</div>  
<div id="miModal" class="modal">
    <div class="modal-contenido">
        <div class="cerrar"><div style="display:none;" id="div-download" class="div-download"></div><a class="div-cerrar" href="#"><img src="src/images/svg/cerrar.svg" width="30px" /></a>  
        </div>
        <iframe id="iframe" src="pdf/index.php" style="width:100%; height:100%;" frameborder="0"></iframe>
    </div>
</div>
  <div id="modalCopia" class="modal">
    <div class="modal-Copia">
        <div class="cerrar"><a class="div-cerrar" href="#"><img src="src/images/svg/cerrar.svg" width="30px" /></a>
        </div>
        <div id="select_copia" class="select_copia">
            <select>
                <option> --- NULL ---</option>
            </select>
        </div>
        <div id="div-lista" class="div-lista">
        </div>
      </div>
</div> 