<table id="tableExpediente">
    <thead>
        <tr>
            <th>FOLIO</th>
            <th>TIPO DOCUMENTO</th>
            <th>ASUNTO</th>
            <th>ORIGEN</th>
            <th>DESTINO</th>
            <th>FECHA</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>