<div class="cont__body_header">
  <span id="nameOpcion">Recibidos</span>
</div>
<div class="cont__body_cont">
  <table id="tableR" class="display tableInform" style="width:100%">
      <thead>
          <tr>
              <th>FOLIO</th>
              <th>TIPO DOCUMENTO</th>
              <th>ASUNTO</th>
              <th>ORIGEN</th>
              <th>DESTINO</th>
              <th>FECHA</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
  </table>
</div>
<div id="miModal" class="modal">
  <div class="modal-contenido">
    <div class="cerrar"><div style="display:none;" id="div-download" class="div-download"></div><a class="div-cerrar" href="#"><img src="src/images/svg/cerrar.svg" width="30px" /></a>  
    </div>
    <iframe id="iframe" src="pdf/index.php" style="width:100%; height:100%;" frameborder="0"></iframe>
  </div>
</div>  

<div id="modalCopia" class="modal">
  <div class="modal-Copia">
    <div class="cerrar"><a class="div-cerrar" href="#"><img src="src/images/svg/cerrar.svg" width="30px" /></a>
    </div>
      <section class="sections">
        <h3>Selecciona un expediente para asignar al documento</h3>
        <div id="select_Expediente" class="select_Expediente">
           <select><option> --- NULL ---</option></select>
        </div>
        <button type="submit" id="btn_add_doc" class=" center-div">Guardar documento</button>
      </section>
  </div>
</div> 