body{
    height: 100vh ;
    width: 100vw ;
    padding: 0 ;
    margin: 0 ;
    overflow: hidden ;
}
*{
    padding: 0;
    margin: 0;
}
.header{
    font-family: 'Krub', sans-serif;
    background-color: #800101;
    width: 100vw;
    height: 6%;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.center{
  display: flex;
    align-items: center;
}
.header > p {
    padding-right: 5rem;
    padding-left: 1rem;
}

.body{
    background-color:#EBEDEF;
    width: 100vw;
    height: 94%;
    color: #000;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu{
    background-color: white;
    width: 25%;
    height: 90%;
    padding: 0;
    margin: 1% 0 0 1%;
    border-radius: 33px;
    box-shadow: 2px 2px 15px rgb(172, 170, 170);
}

.contenido{
    width: 72%;
    height: 90%;
    padding: 0;
    margin: 0 1% 0 1%;
    
}
.cont_header{
    text-align: right;
    width: 100%;
    height: 8%;
    color: #191918;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}
.flotar{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1;
  display: none;
  
  background-color: #EBEDEF;
  /*
  box-shadow: 10px 10px 20px rgb(172, 170, 170);
  */
}
.flotar > section {
  width: 95%;
  height: 83%;
  font-family: 'Mulish', sans-serif;
  margin: 0 3% 0 2%;
  font-size: 0.70rem;
  color:#000;
  overflow: auto;
  background-color: transparent;
}


.flotar > .cont__body_header > button {
  
  background-image: url('../images/svg/regresoIco.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent !important;
}
.cont_body{
    
    width: 100%;
    height: 92%;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
}
.cont__body_header{
    width: 100%;
    height: 10%;
    color: #4D5656;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cont__body_inputs{
    width: 90%;
    height: 25%;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    /*padding: 0 3% 0 3%;*/
    display: flex;  
    flex-direction: column;
    /*align-items: flex-end;
    /**/
    
}
.inputs_div{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    
}
.input_doc{
    height: 30px;
    border-radius: 2px;
    outline: none;
    border: #fff;
    box-shadow: 1px 1px 7px rgb(172, 170, 170);
    background-color: #fff;
    color: #85929E;
    /*margin: 0 1rem 0 0;*/
    padding: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;/*
    padding-left: 0.5rem;*/
}
.input_buscar{
    width: 10rem;
    height: 40px;
    border-radius: 2px;
    outline: none;
    border: #fff;
    box-shadow: 1px 1px 7px rgb(172, 170, 170);
    background-color: #1E88E5;
    color: #fff;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    align-self: flex-end;
}
.input_buscar:hover{
    font-size: 1.2rem;

}
.btn_div{
    height: 100%;
    width: 10%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.cont__body_cont{
    width: 95%;
    height: 83%;
    font-family: 'Mulish', sans-serif;

    margin: 0 3% 0 2%;
    font-size: 0.70rem;
    color:#000;

    /*padding: 0 3% 0 3%;
    background-color: aqua;
    background-color: #fff;
    border-radius: 20px;*/
    /*padding-top: 2rem;
    padding-left: 2rem;
</*<<<<<< HEAD*/
    padding-right: 2rem;
    overflow: auto;
    background-color: transparent;
    
}

.div-table{
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
/*
=======
    
}

.btn__agregar{
    width: 130px;
    height: 35px;
    background-color: #21618C;
    outline: none;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    margin-bottom: 10px;
    
}

.btn__agregar > img{
    width:25px;
    margin-left: 5px;
    
}


/*>>>>>>> 373a1d9951a5eec2530cbed5566ac4d70bb0eb69*/
/*
.cont__body_cont > h2 {
    letter-spacing: 3px;
    color: #000;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-left: 2rem;
}*/
/*<<<<<<< HEAD*/
/*table{
    font-size: 0.7rem;
    border: none;
    color: #000;
=======
table{
    border: none;
    width: 100%;
    height: 100%;
/*>>>>>>> 373a1d9951a5eec2530cbed5566ac4d70bb0eb69
    */
/*}
th {
    text-align: left;

    background-color: #89887E;
    color: #fff;
  }
*/
/*=======
    background-color: #616161;
    color: white;
}
>>>>>>> 373a1d9951a5eec2530cbed5566ac4d70bb0eb69*/
.menu_header{
    margin-top: 10%;
    width: 100%;
    height: 25%;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_header > img{
    margin-bottom: 1.5rem;
}
.menu_content{
    width: 100%;
    height: 50%;
}

.btn__menu{
    outline: none;
    width: 100%;
    height: auto;
    margin: 0 0;
    padding: 0 1.5rem;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    text-align: left;
    color: #191918;
    position: relative;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: flex;

}
.btn__menu > img{
    margin-right: 1rem;
}
.btn__menu:hover{
    background-color: #F2D7D5;
}
.btn__menu > span{
  /*background-color:#839192;
  color: #fff;
  */padding: 0 1rem;
  border-radius: 3px;
  position: absolute;
  right: 10%;
  
}
.btnSeleccionado{
  background-color: #F2D7D5;
}


.menu_footer{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.out{
    background-color: #fff;
    width: 90%;
    height: 40%;
    outline: none;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #1C2833;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px rgb(172, 170, 170);
    transition: all 0.25s;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    
}
.out > img {
    padding: 7px;
    
}
.out:hover{
    width: 91%;
    height: 49%;
    transition: all 0.25s;
}
input::placeholder {
    color: #85929E;
  }

  .btn__ver_doc{
      background-color: transparent;

      outline: none;
      border: none;

  }/*
<<<<<<< HEAD*/
/*=======
  .btn__ver_doc:hover > img {
   
  }
>>>>>>> 373a1d9951a5eec2530cbed5566ac4d70bb0eb69*/
  .modal-contenido{
    background-color:#fff;
    width:60%;
    height: 85%;
    position: absolute;
    top: calc(100% - 92.5%);
    left: calc(100% - 80%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } 
/*  .modal-Expediente{
    background-color:#fff;
    width:50%;
    height: 75%;
    position: absolute;
    top: calc(100% - 85%);
    left: calc(100% - 75%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }*/
  .mExpediente{
    background-color: #fff;/*
    background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);*/
    width:75%;
    height: 75%;
    position: absolute;
    top: calc(100% - 85%);
    left: calc(100% - 85%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mExpediente > article{
    /*background-image: url('../images/svg/fileFondo.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;*/
    align-self: center;
    width: 85%;
    height: 80%;
    padding: 2% 0 0 0;
    /*background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);*/ 
  }

  .grid{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0 0 2% 0;
  }
  .mExpediente > article > input, .mExpediente > article > select, .mExpediente > article > button{
    width: 95.5%;
    height:10%;
    padding: 0;
    margin: 0 0 2% 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #6C63FF; 
    /***/
  }
  .mExpediente > article > button{
    background-color: #6C63FF;
    color: #fff;
  }
  .mExpediente > article > input{
    width: 95%;
  }
  .mExpediente > article > div > input, .mExpediente > article > div > select{
    width: 90%;
    height:100%;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #6C63FF;
  }
input[id=ubicacion]{
    
    margin: 2% 0 !important;
  }
  .mExpediente > article >label{
    font-size: 0.9rem;
    margin-top: 0;
    padding-top: 0;
  }
  .container{
    width: 86%;
    margin: 0 6% 2% 6%;
    margin-bottom: 2%;
    font-size: 0.8rem;
    /*
    padding: 0.2rem;*/
  }
  .container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem; 
  }
  
  ul li{
    color: #626567;
    display: block;
    position: relative;
    float: left;
  }
  
  ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  
  ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    /*font-size: 1.35em;
    */padding: 0.2rem 1rem 0 1.5rem;/*
    margin: 10px auto;
    height: 10px;*/
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  
  ul li:hover label{
    color: #6C63FF;
  }
  
  ul li .check{
    display: block;
    position: absolute;
    border: 3px solid #626567;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 0px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }
  
  ul li:hover .check {
    border: 3px solid #6C63FF;
  }
  
  ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 5px;
    width: 5px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  
  input[type=radio]:checked ~ .check {
    border: 4px solid #6C63FF;
  }
  
  input[type=radio]:checked ~ .check::before{
    background: #6C63FF;
  }
  
  input[type=radio]:checked ~ label{
    color: #2E86C1;
  }
  .modal-CC{
    background-color:#fff;
    width:40%;
    height: 40%;
    position: absolute;
    top: calc(100% - 85%);
    left: calc(100% - 75%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-Copia{
    background-color:#fff;
    width:40%;
    height: 40%;
    position: absolute;
    top: calc(100% - 70%);
    left: calc(100% - 70%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-Copia > .div-lista{
    width: 86%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 7%;
    overflow: auto;
    font-size: 0.8rem;
    line-height:1.1rem;
  }
 .sections{
   width: 80%;
   height: 90%;
   padding: 10% 10%;
   font-size: 0.9rem !important;
 }
 .sections > .select_Expediente{
    margin: 5%;
    height: 30%;
 }
 .sections > .select_Expediente > select{
  width: 100%;
  height: 75%;
}
.sections > button{
  margin: 5%;
  height: 25%;
  width: 90%;
  outline: none;
  border: none;
  background-color: #38b765;
  color: white;
}
  .modal-Copia >.select_copia{
    width: 86%;
    height: 10%;
    margin-left: 7%;
    margin-right: 7%;
  }
  .modal-Copia >.select_copia > select{
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
  }
  
  .modal-expediente{
    background-color:#fff;
    width:40%;
    height: 40%;
    /*padding: 10px 20px;
    margin: 20% auto;/*
    position: relative;*/
    position: absolute;
    top: calc(100% - 70%);
    left: calc(100% - 70%);/*
    left: 25%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cerrar{
    width: 100%;
    display: flex;
    justify-content: flex-end;  
    background-color: cerrar;

  }
/*
    position:absolute;
    top: calc(100% - 85%);
    left: calc(100% - 75%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: auto;
  }
.div-center{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.div-center > p{
    letter-spacing: 5px;
    margin-bottom: 2rem;
}
.div-center > p{
    letter-spacing: 5px;
    margin-bottom: 2rem;
}
.table__modal{
    width: 96%;
    height: 70%;
    overflow: auto;
    font-size: 0.9rem;

}
*/
  .div-cerrar{
    display: flex;
    justify-content: flex-end;
  }
.div-cerrar{
  background-color: #E04F5F !important;
  border-radius: 0 !important;
}
.div-cerrar-gris{
  background-color: #fff !important;
  border-radius: 0 !important;
  margin-right: 10px;
  margin-top: 10px;
}
.modal-AgregarEditor{
  background-color:#fff;
  width:60%;
  height: 70%;
  position: absolute;
  top: calc(100% - 85%);
  left: calc(100% - 75%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal-Upload{
  background-color:#fff;
  width:60%;
  height: 70%;
  position: absolute;
  top: calc(100% - 88%);
  left: calc(100% - 80%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px 5px 20px rgba(102, 101, 101, 0.9);
  transition: all 0.25s;
}
.modalW{
  background-color: transparent;
  position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    z-index: 1;
}
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    z-index: 1;
  }
  #miModal:target, #modalAgregarEditor:target{
    opacity:1;
    pointer-events:auto;
    z-index: 2;
  }
  #Expediente:target,  #modalExpediente:target, #modalCopia:target, #modalCC:target, #modalCrearExpediente:target, #modalVer:target, #modalUpload:target{

    opacity:1;
    pointer-events:auto;
  }
  iframe{
      width: 800px;
  }

  .oficio{
      background-color: #fff;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      
      position: relative;
  }
  .oficio > header {
      background-color: #424242;
      border-radius: 5px 5px 0 0;
      color:#fff;
      font-size: 1rem;
      width: 97%;
      height: 8%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 3%;
  }
  .oficio > header > div {
    width: 50%;
    height: 100%;
    border-radius: 0 5px 0 0;
    background-color: transparent;
  }
  .oficio > header > div > select {
    background-color: #424242;
    color:#fff;
    width: 90%;
    height: 100%;
    outline: none;
    border:none;  
    border-radius: 0 5px 0 0;
  }
  .oficio > header > div > img {
    
    width: 18px;
  }
  .oficio > .destino{
    
    width: 100%;
    height: 7%;
    display: flex;
  }
  .oficio > input{
    width: 97%;
    height: 7%;
    padding-left: 3%;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #D0D3D4;
    font-size: 0.8rem;
    transition: all 0.25s;
    padding-top: 0.5%;
  }
  
  .oficio > .folio{
    text-transform: uppercase;
  }
  
  .oficio > .destino > .nameDir, .oficio > .destino > .CC{
    text-transform: inherit;
    width: 97%;
    padding-left: 3%;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #D0D3D4;
    font-size: 0.8rem;
    transition: all 0.25s;
    padding-top: 0.8%;
    
  }
  
/*  .oficio > .asunto, .oficio > .tipo-doc{
    
  }*/
  .oficio > input::placeholder, .oficio > .destino > input::placeholder{
    color: #85929E;
    font-size: 0.8rem;
    
    text-transform:capitalize;
  }
  .oficio > input:focus, .oficio > .destino > input:focus{
    
    border-bottom: 0.5px solid #E04F5F;
    color: #E04F5F;

  }/*
<<<<<<< HEAD*/
  .oficio > select{
    width: 100%;
    height: 7%;
    padding-left: 3%;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #D0D3D4;
    font-size: 0.8rem;
    transition: all 0.25s;
    padding-top: 0.8%;
  }
  .oficio > select:focus{
    border-bottom: 0.5px solid #E04F5F;
    color: #E04F5F;
  }
  .oficio > .botones{
    width: 100%;
    height: 11.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    margin: 0;/*
    background-color: #E04F5F;*/
  }
  .oficio > .mensaje{
      
    width: 100%;
    height: 45%;
  }
  .oficio > .atencionA{
      
    width: 100%;
    height: 13%;
  }
  /*
  .oficio > .atencionA{
      
    width: 100%;
    height: 16%;
  }*/
  .oficio > .mensaje > textarea, .oficio > .atencionA > textarea{
    width: 94%;
    height: 90%;
    resize: none;
    outline: none;
    border:none;
    font-size: 0.8rem;
    margin:0;
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 2%;
    overflow: auto;
  }

  .oficio > .botones > .enviar, .oficio > .botones > .limpiar, .oficio > .botones > .visualizar, .oficio > .botones > .cc, .oficio > .botones > .atencion, .cont__body_header > button{
    color: #fff;
    outline: none;
    border:none;
    height: 70%;
    width: 20%;
    font-size: 0.9rem;
    text-transform: uppercase;
    
  }
  button{
    cursor: pointer;
  }
  .oficio > .botones > .enviar, .cont__body_header > button{
    background-color:#3182ce;
  }
  .oficio > .botones > .enviar:hover, .cont__body_header > button:hover{
    background-color:#1F618D;
  }
  .oficio > .botones > .limpiar{
    background-color: #38a169;
    margin-left: 5%;
  }
  .oficio > .botones > .limpiar:hover{
    background-color: #196F3D;
    
  }
  .oficio > .botones > .visualizar{
    background-color: #EF5350;
    margin-left: 5%;
  }
  .oficio > .botones > .visualizar:hover{
    background-color: #A93226;
  }
  .oficio > .botones > .cc{
    background-color: #DC7633;
    margin-left: 5%;
  }
  .oficio > .botones > .cc:hover{
    background-color: #D35400;
  }
  .oficio > .botones > .atencion{
    background-color: #009688;
    margin-left: 5%;
  }
  .oficio > .botones > .atencion:hover{
    background-color: #00796B;
  }
  .oficio > .botones > .enviar > img, .oficio > .botones > .limpiar > img, .oficio > .botones > .visualizar > img, .cont__body_header > button > img{
    width: 20px;
    margin-left: 5px;
  }
  .cont__body_header > button{
    position: absolute;
    right: 3%;
  }

  .center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: transparent;
    margin-top: 2rem;
    font-size: 0.8rem;
    border: none;
    outline: none;
    border-collapse: separate; 
    
}
table.dataTable {
  
  border-collapse: separate; 
  border-spacing: 0px 5px;
  border: none;
  
} 
  th, td {
    /*text-align: left;
    padding: 8px;
    */
    background-color:#fff;
    border: none;
    
  }
 
table {
  width: 100%;
  border: 1px solid #000;
}
th, td {
  width: 25%;
  text-align: left;
  vertical-align: center;
  border: none !important;

}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
  background-color: #fff;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
  background-color: #fff;
}

.dataTables_filter{
  width: 50%;
  font-size: 0.8rem;
}
input[type="search" i] {
  width: 70%;
  height: 30px;
  background-color: #fff;
  padding: 5px;
  border: 0.5px solid #D7DBDD !important;
  outline: none !important;
  margin-bottom: 0.8rem;
}
.dataTables_length{
  width: 40%;
  font-size: 0.8rem;
}
.dataTables_length > label > select{
  width: 15%;
  height: 30px;
  background-color: #fff;
  padding: 5px;
  border: 0.5px solid #D7DBDD !important;
  outline: none !important;
  
  margin-bottom: 0.8rem;
} 
.dataTables_info, .dataTables_paginate, .paging_simple_numbers{
  
  font-size: 0.8rem;
  
  margin: 0.8rem 0.5rem 0 0;
}

a {
  background-color: #fff !important;
  border-radius: 5px !important;
}
.paginate_button, .next {
  border: 1px solid #BDC3C7 !important;
  box-shadow: 2px 2px 5px rgb(172, 170, 170);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid #2980B9 !important;
  background-color: #2980B9 !important;
  background: #2980B9 !important;
}
.flex{
  display: flex;

  justify-content: center;
  align-items: center;
}
.end{
  justify-content: flex-end;
}
.col{
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
}
.start{
  align-items: flex-start;
}
.div-download{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
  display: flex !important;
  align-items: center;
  margin: 0 0.5rem 0 0;
}
.aDownload{
  
  border-radius: 100%;
  
  transition: all 0.25s;
  
  margin: 0 0 0 0.3rem;
}
.aDownload:hover{
  
  border-radius: 100%;
  background-color: whitesmoke;
  width: 38px;
  height: 38px;
}

.btnfloat{
  background-image: url('../images/svg/upload.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 28px;
  height: 28px;
  outline: none;
  border: none;
  border-radius: 100%;
  transition: all 0.25s;
  margin: 0 0.3rem 0 0.3rem;
  position: absolute;
  right: 10px;
  bottom: 30px;
}
.btnfloat:hover{
  width: 33px;
  height: 33px;
}
.btnMini{
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 100%;
  transition: all 0.25s;
  margin: 0 0.3rem 0 0.3rem;
}
.btnVer{
  background-image: url('../images/svg/visualizar.svg');
  background-color: #229954;
}
.btnRegresarDoc{
  
  background-image: url('../images/svg/regreso.svg');
  /*background-image: url('../images/svg/firma.svg');
  */background-color: #D32F2F;
  border: 1px solid #D32F2F;
}
.btnRegresarDoc:hover{
  
  background-image: url('../images/svg/regresoH.svg');
  /*background-image: url('../images/svg/firma.svg');
  */background-color: #fff;
}
.btnFirma{
  
  background-image: url('../images/svg/firma.svg');
  /*background-image: url('../images/svg/firma.svg');
  */background-color: #7717EA;
  border: 1px solid #7717EA;
}

.btnFirma:hover{
  background-color: #fff;
  background-image: url('../images/svg/firmaHover.svg');
  transition: all 0.25s;
}
/*.btnAddArchivo{
  background-image: url('../images/svg/agregar-archivo_mini.svg');
  background-color: #3498DB;
  border: 1px solid #3498DB; 
  transition: all 0.25s;
}
.btnAddArchivo:hover{
  background-color: #fff;
  background-image: url('../images/svg/agregar-archivo_miniHover.svg');
  
}*/

.btnEnviar{
  background-image: url('../images/svg/enviar2Hover.svg');
  background-color: #3498DB;
  border: 1px solid #3498DB;
}
.btnQuitar{
  background-image: url('../images/svg/quitar.svg');
  width: 20px;
  height: 20px;
}
.btnEditar{
  background-color: #FDAE0B;
  background-image: url('../images/svg/editarHover.svg');
  border: 1px solid #FDAE0B;
}
.btnCerrar{
  background-color: #229954;
  background-image: url('../images/svg/cerrarFile.svg');
  border: 1px solid #229954;
}
.btnCerrar:hover{
  background-color: #fff;
  background-image: url('../images/svg/cerrarFileHover.svg');
  border: 1px solid #229954;
}
.btnEliminar:hover{
  background-color: #fff;
  background-image: url('../images/svg/limpiar.svg');
  border: 1px solid #D32F2F;
}
.btnEliminar{
  background-color: #D32F2F;
  background-image: url('../images/svg/limpiar.svg');
  border: 1px solid #D32F2F;
}

.btnVer:hover{
  background-color: #fff;
  background-image: url('../images/svg/visualizar_table.svg');
  transition: all 0.25s;
  border: 1px solid #229954;
}
.btnEnviar:hover{
  background-color: #fff;
  background-image: url('../images/svg/enviar2.svg');
  transition: all 0.25s;
}
.btnEditar:hover{
  background-color: #fff;
  background-image: url('../images/svg/editar.svg');
  transition: all 0.25s;
}
.btnEstado{
  width: 80px;
  height: 20px;
  outline: none;
  border-radius: 10px;
  transition: all 0.25s;
}
.RB{
  background-color:#D1F2EB;
  border: 1px solid #388E3C;
  color: #388E3C;
}
.EN{
  background-color: #D4E6F1;
  border: 1px solid #3498DB;
  color: #3498DB;
}

.PF{
  background-color: #FCF3CF;
  border: 1px solid #F9A825;
  color: #F9A825;
}
.ED{
  background-color: #FADBD8;
  border: 1px solid #CD6155;
  color: #CD6155;
}
.acuse{
  height: 30px;
  width: 165px;
  padding-left: 5px;
  background-color:#F39C12;
  border: 1px solid#F39C12;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  box-shadow: 3px 3px 5px rgb(172, 170, 170);
}
.acuse > img{
  padding-left: 5px;
}
.acuse:hover{
  background-color: #fff;
  color:#F39C12;
}
.abrir{
  height: 25px;
  width: 100px;
  background-color: #7986CB;
  border: 1px solid #7986CB;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  box-shadow: 3px 3px 5px rgb(172, 170, 170);
}
.abrir > img{
  padding-left: 5px;
}
.abrir:hover{
  background-color: #fff;
  color: #7986CB;
}
.habilitar{
  height: 25px;
  width: 100px;
  margin-left: 10px;
  background-color: #28B463;
  border: 1px solid #28B463;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  box-shadow: 3px 3px 5px rgb(172, 170, 170);
  margin-right: 0.5rem;
}
.habilitar:hover{
  background-color: #fff;
  color: #28B463;
}
.deshabilitar{
  height: 25px;
  width: 100px;
  margin-left: 10px;
  background-color: #CB4335;
  border: 1px solid #CB4335;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  box-shadow: 3px 3px 5px rgb(172, 170, 170);
  margin-right: 0.5rem;
}
.deshabilitar:hover{
  background-color: #fff;
  color: #CB4335;
}
.nuevo{
  height: 25px;
  width: 100px;
  background-color: #3182ce;
  border: 1px solid #3182ce;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  box-shadow: 3px 3px 5px rgb(172, 170, 170);
  margin-right: 0.5rem;
}
.nuevo > img{
  padding-left: 5px;
}
.nuevo:hover{
  background-color: #fff;
  color: #3182ce;
}
.LE{
  background-color: #D5F5E3;
  border: 1px solid #229954;
  color: #229954;
}
.formExpediente{
  width: 90%;
  height: 100%;
  margin: 0 5% 0 5%;
}
/*.formExpediente > div{
  width: 90%;
  margin: 0 5% 0 5%;
}*/
.formExpediente > button{
  width: 100%;
  height: 35%;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 0.9rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: #38b765;
}

.formExpediente > select, .formExpediente > input{
  width: 100% !important;
  height: 20%;
  border: none;
  outline: none;
  border: 1px solid #607D8B;

  /*box-shadow: 5px 5px 2px rgb(172, 170, 170);
  border-bottom: 2px solid #9fa0a1;
  */font-size: 0.85rem;
  color:#4D5656;
}
.formExpediente > label{
  margin-top: 1rem;
  
  color:#4D5656;
}

.modal-validar{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-validar > div{
  width: 60%;
  height: 60%;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  box-shadow: 5px 5px 20px rgb(172, 170, 170);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.botonCC{
  height: 20% !important;
}
.titulo-modal{
  font-family: 'Lato', sans-serif;
  margin-top: 1rem;
  color: #4D5656;
  line-height: 7px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.upload{
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 75%;
  margin-left: 7.5%;
  margin-top: 2.5%;
  font-size: 0.9rem;
}
.h2Adjuntar{
  width: 100%;
  display: flex;
  justify-content: center;
  color: #191918;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.upload > button{
  
  width: 100%;
  height: 15%;
  color: white;
  background: #38b765;
  border: none;
  outline: none;
}
.upload > .btnSiguiente{
  
  width: 100%;
  height: 15%;
  color: white;
  background: #E57373;
  border: none;
  outline: none;
}
.upload > input{
  
  width: 100%;
  height: 15%;
  outline: none;
  margin:2.5% 0;

}
.preview{
  width: 100%;
  height: 70%;
  overflow: auto;
}
.punteado{
  border-style: dotted;
   border-width: 1px;
   border-color: #FBFCFC;
   background-color: #F7F9F9;
   font-family: verdana, arial;
   font-size: 10pt;
}
@media (min-width: 120) {
  .header > p{
    font-size: 0.80rem;
    padding-right: 0.5rem;
    padding-left: 0rem;
  }
  .contenido {
    margin: 0;
    width: 95%;
    padding: ;
  }
  .cont_header {
    font-size: 0.8rem;
    padding-top: 20px;
  }
  .cont__body_header {
    font-size: 0.7rem;
  }
  table {
    font-size: 0.5rem;
  }
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: left;
  }
  .cont__body_header > button {
    padding-right: 2px;
    font-size: 0.5rem;
    height: 50%;
  }
  .btnEstado {
    font-size: 0.5rem;
  }
  .cont__body_header > button > img {
    width: 10px;
  }
  .body { 
    display: flex;
    flex-direction: column !important;
  }
  .menu{
    background-color: white;
    width: 100%;
    height: 15%;
    margin: 0;
    border-radius: 0;
    box-shadow: 2px 2px 15px rgb(172, 170, 170);
  }
  .menu_header {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    margin-top: 0%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 33%;
  }
  .menu_header > img {
    width: 20px;
    margin: 0px 5px 0 0;
  }
  .menu_content{
    margin-top: 5px;
    height: 33%;
  }
  .menu_content > #menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
  }
  .btn__menu{
    width: 12%;
    padding: 0;
    position:sticky;
    margin: 0 2px;    
  }
  .btn__menu > span {
    padding: 0;
    border-radius: 3px;
  }
  .btn__menu > p {
    display: none;
  }

  .btnSeleccionado{
    background-color: #F2D7D5;
    border-radius: 2px;
  }
  .menu_footer {
    width: 100%;
    height: 33%;
    border-top: 0.5px solid #707B7C;
  }
  .out {
    width: 100%;
    border-radius: 0;
    height: 98%;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
  }
  .out > img {
    width:15px;
  }
  .out:hover {
    width: 100%;
    border-radius: 0;
    height: 100%;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    background-color: #F2D7D5;
  }

}
@media (max-width: 767px) {
  .header > p{
    font-size: 0.80rem;
    padding-right: 0.5rem;
    padding-left: 0rem;
  }
  .contenido {
    margin: 0;
    width: 95%;
  }
  .cont_header {
    font-size: 0.8rem;
    padding-top: 20px;
  }
  .cont__body_header {
    font-size: 0.7rem;
  }
  table {
    font-size: 0.5rem;
  }
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: left;
  }
  .cont__body_header > button {
    padding-right: 2px;
    font-size: 0.5rem;
    height: 50%;
  }
  .btnEstado {
    font-size: 0.5rem;
  }
  .cont__body_header > button > img {
    width: 10px;
  }
  .body { 
    display: flex;
    flex-direction: column !important;
  }
  .menu{
    background-color: white;
    width: 100%;
    height: 15%;
    margin: 0;
    border-radius: 0;
    box-shadow: 2px 2px 15px rgb(172, 170, 170);
  }
  .menu_header {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    margin-top: 0%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 33%;
  }
  .menu_header > img {
    width: 20px;
    margin: 0px 5px 0 0;
  }
  .menu_content{
    margin-top: 5px;
    height: 33%;
  }
  .menu_content > #menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
  }
  .btn__menu{
    width: 12%;
    padding: 0;
    position:sticky;
    margin: 0 2px;    
  }
  .btn__menu > span {
    padding: 0;
    border-radius: 3px;
  }
  .btn__menu > p {
    display: none;
  }

  .btnSeleccionado{
    background-color: #F2D7D5;
    border-radius: 2px;
  }
  .menu_footer {
    width: 100%;
    height: 33%;
    border-top: 0.5px solid #707B7C;
  }
  .out {
    width: 100%;
    border-radius: 0;
    height: 98%;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
  }
  .out > img {
    width:15px;
  }
  .out:hover {
    width: 100%;
    border-radius: 0;
    height: 100%;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    background-color: #F2D7D5;
  }
}
