body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
}

.p-tittle{
    color:#2E2E2E;
    font-family: 'Cuprum', sans-serif;/*
    font-family: 'Jost', sans-serif;*/
    font-size: 2rem;
    padding: 1rem 0;
    /*padding-bottom: 0;*/
    margin:0;
}
.p-sub_tittle{
    color:#2E2E2E;
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 5rem;
    /*padding: 0 0 2rem 0;
    *//*padding-top: 10px;*/
    margin:0;
}
.header_institucional{
    background-color: #800101;
    width: 100vw;
    height: 5%;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
}
.subHeader__institucional{
    background-color: #eae3d8;
    width: 100vw;
    height: 13%;
    color: #2E2E2E;
    font-size: 2rem;
    font-family: 'Cinzel', serif;
}
.img-logo{
    height: 80%;
    margin: 20px;
}
.aling-Center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-line{
    width: 100%;
    height: 1%;
    background-color: #575555;
}
.container_info{
    width: 100%;
    height: 79%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;    
}
.formulario{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 60%;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    outline: none;
    box-shadow: 2px 2px 20px rgb(172, 170, 170);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    outline: none;
    box-shadow: 2px 2px 20px rgb(172, 170, 170);
    
}
.desing-select{
    width: 90%;
    height: 23%;
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    line-height: 0px;
    /*border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Manrope', sans-serif;
    font-size: 0.9rem;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    appearance: none;
    outline: 0;
    box-shadow: none;*/
}
/*
option:checked{
    background-color: #d6d6d6;
    color: #000;
}
*/


/*.table-Content{
    background-color: white;
    width: 90%;
    height: 50%;
    overflow: auto;
    
  border-collapse: collapse;
    border: 1px solid #fff;
    border-radius: 3px;
}*/
/*th{
    color: #800101;
}*/
.text_input{
    background-color: #fff;
    height: 10%;
    width: 70%;
    color: #800101;
    outline: none;
    border: 0;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid #ABB2B9;
    margin: 0 0 1.5rem 0;
    transition: all 0.25s;
    text-transform: capitalize;
}

.text_input:focus{
    border-bottom: 1px solid #800101;
    transition: all 0.25s;
}
.enviar{
    background-color: #800101;
    height: 10%;
    width: 70%;
    color: #fff;
    border-radius: 3px;
    outline: none;
    border: 0;
    transition: all 0.25s;
    font-size: 1.5rem;
    
    font-family: 'Jost', sans-serif;
}
.enviar:hover{
    
    background-color: #fff;
    color: #800101;
    border: 1px solid #800101;
    height: 12%;
    width: 72%;
    transition: all 0.25s;
}
.alert__Error{
    text-align: center;
    padding: 5px 0 10px 0;
    background-color: #E6B0AA;
    color: #922B21;
    border: 1px solid #922B21;
    width: 70%;
    height: 50px;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
}
.mensaje__inicioSesion{

    margin: 0 5% 0 5%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Jost', sans-serif;
    text-transform: capitalize;
    color: #C0392B;
    
    width: 90%;
    height: 70%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto{
/*
    margin: 0 5% 0 5%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    color: #922B21;
    border: 1px solid #922B21;
    width: 90%;
    height: 70%;*/
    background-color: #E6B0AA;
    border: 1px solid #D98880;
    
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}
div > p {
    margin-top: 2rem;
  }
@media (min-width: 120) {
    .header_institucional {
        font-size: 0.8rem;
    }
    .subHeader__institucional {
        font-size: 1rem;
        padding-right: 20px;
    }
    .subHeader__institucional > p {
        text-align: center;
    }
    .img-logo {
        height: 40%;
        margin: 10px;
    }
    .p-tittle {
        font-size: 1.2rem;
    }
    .p-sub_tittle {
        font-size:1rem;
    }
    .formulario {
       width: 60%;
       height: 40%;
    }
    .enviar {
        height: 20%;
        width: 70%;
        font-size: 1rem;
    }
  
}
@media (max-width: 767px) {
    .header_institucional {
        font-size: 0.8rem;
    }
    .subHeader__institucional {
        font-size: 1rem;
        padding-right: 20px;
    }
    .subHeader__institucional > p {
        text-align: center;
    }
    .img-logo {
        height: 40%;
        margin: 10px;
    }
    .p-tittle {
        font-size: 1.2rem;
    }
    .p-sub_tittle {
        font-size:1rem;
    }
    .formulario {
        width: 60%;
        height: 40%;
    }
    .enviar {
        height: 20%;
        width: 70%;
        font-size: 1rem;
    }
}
  